.screenDarkeningCover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	background-color: #000000cc;
}

.dialogWindow {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 320px;
	max-width: 768px;
	background-color: white;
}

	.dialogWindow .titleBar {
		width: 100%;
		background-image: linear-gradient(160deg, #30f290 -33%, #3070f2 133%);
		color: white;
		padding: 8px;
		font-size: 12px;
	}

		.dialogWindow .titleBar .closeButton {
			position: absolute;
			width: 34px;
			height: 34px;
			top: 0;
			right: 0;
			background-color: red;
			color: white;
			border: none;
			margin: 0px;
			text-align: center;
		}

	.dialogWindow .contentBox {
		width: 100%;
		padding: 1em;
	}

		.dialogWindow .contentBox .errorText {
			font-size: 12px;
			color: red;
		}

	.dialogWindow .buttonsFragment {
		width: 100%;
		border-top: 1px solid #888888;
		background-color: #eeeeee;
	}

		.dialogWindow .buttonsFragment .buttonSpan {
			float: right;
			margin: 8px;
		}
