main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: auto 1fr auto;
}

::deep .menuBar {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	border-bottom: 1px solid #cccccc;
}

::deep .propertiesBar {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 4;
	height: 48px;
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}

::deep .toolBar {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 10px;
	border-right: 1px solid #cccccc;
}

::deep .rightSection {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	min-width: 250px;
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-left: 1px solid #cccccc;
}

::deep .rightSection-titleBar {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 8px;
	font-size: 12px;
	color: white;
	background-image: linear-gradient(160deg, #3070f2 -33%, #30f290 133%);
	border-bottom: 1px solid #cccccc;
}

::deep .layersSection {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	border-bottom: 1px solid #cccccc;
}

::deep .layersToolBar {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 10px 10px 0 10px;
}

::deep .layersToolBarButton {
	width: 36px;
	height: 36px;
}

::deep .layerSliderSection {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 5px 10px 10px 10px;
	border-bottom: 1px solid #cccccc;
}

::deep .layersTreeView {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	min-height: 100%;
	padding: 5px;
	overflow-x: auto;
	overflow-y: auto;
}

::deep .historySection {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-template-rows: auto 1fr;
	min-height: 100%;
	display: grid;
	background-color: white;
}

::deep .historyTreeView {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	min-height: 100%;
	padding: 5px;
	overflow-x: auto;
	overflow-y: auto;
}

::deep .workspace {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: #dddddd;
	overflow-x: auto;
	overflow-y: auto;
}

::deep .toolBarButton {
	width: 46px;
	height: 46px;
}

::deep .anchorSelectionButton {
	width: 54px;
	height: 54px;
	margin-bottom: 4px;
}

.selectedLayer {
	width: 100%;
	transform: translate(-10px, 0);
	padding: 5px 0 5px 10px;
	border-radius: 3px;
	background-color: lightskyblue;
	pointer-events: none;
}

.colorSelectContainer {
	position: relative;
	margin-top: 1rem;
}

.primaryColor {
	width: 32px;
	height: 32px;
	position: absolute;
	padding: 0;
	border: none;
	outline: none;
}

.secondaryColor {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 14px;
	left: 14px;
	padding: 0;
	border: none;
	outline: none;
}
